
.pagination {
  justify-content: center;
  margin-top: 20px;
}

.page-item.active .page-link {
  background-color: #007bff;
  border-color: #007bff;
}

.page-link {
  color: #007bff;
}

.page-link:hover {
  text-decoration: none;
  background-color: #0056b3;
  border-color: #0056b3;
}
